* {
	box-sizing: border-box;
	font-family: "Inter";
}

body {
	background-color: #f5f5f5;
}

.container {
	max-width: 1360px;
	margin: 0 auto;
}

.title {
	margin: 0;
	font-weight: 500;
	font-size: 50px;
	color: #434343;
	line-height: 55px;
}

.title_white {
	margin: 0;
	font-weight: 500;
	font-size: 50px;
	color: #ffffff;
}

.booking .booking__btn:hover,
.review .review__btn:hover,
.route .route__btn:hover {
	background-color: #2a74d4;
}

.header {
	min-height: 60px;
	padding: 22px 26px 17px 44px;
}

.header .header__nav {
	display: grid;
	grid-template-columns: 1fr 20%;
}

.hamburger {
	display: none;
}

.header .menu {
	display: grid;
	grid-template-columns: repeat(5, max-content);
	gap: 45px;
	height: 21px;
	padding: 0;
	margin: 0;
	list-style: none;
}

.menu .menu__link {
	font-weight: 400;
	font-size: 17px;
	color: #5a5a5a;
	text-decoration: none;
}

.menu .menu__link:hover,
.footer .footer__link:hover {
	color: #2f80ed;
}

.header .header__call {
	font-weight: 600;
	font-size: 17px;
	line-height: 21px;
	color: #2f80ed;
	text-decoration: none;
	text-align: right;
}

.header .header__call:hover,
.footer .footer__call:hover {
	color: #012f6c;
}

.booking {
	position: relative;
	max-height: 711px;
	background: url(../img/hotel_main.png) center center/cover no-repeat;
	padding: 514px 500px 52px 49px;
	border-radius: 10px;
}

.booking .booking__subheader {
	margin-top: 13px;
	margin-left: 3px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #d9d9d9;
}

.booking .booking__btn {
	position: absolute;
	bottom: -45px;
	right: 67px;
	width: 521px;
	height: 91px;
	background-color: #2f80ed;
	border: none;
	border-radius: 10px;
	font-weight: 400;
	font-size: 30px;
	color: #ffffff;
	cursor: pointer;
}

.about {
	margin-top: 112px;
	display: grid;
	grid-template-columns: 1fr 28%;
	grid-template-rows: 39% 1fr 42%;
	gap: 25px;
}

.about .about__text {
	padding: 48px 48px 20px 51px;
	background-color: #ffffff;
	box-shadow: 0px 14px 60px rgba(0, 0, 0, 0.07);
	border-radius: 10px;
	grid-area: 1 / 1 / 3 / 2;
}

.about .about__descr {
	margin-top: 28px;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: #757575;
}

.about .about__img {
	height: 100%;
	width: 100%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.about .about__img_big {
	grid-area: 3 / 1 / 4 / 2;
}

.about .about__img_sqr {
	grid-area: 1 / 2 / 2 / 3;
}

.about .about__img_small {
	grid-area: 2 / 2 / 4 / 3;
}

.room {
	margin-top: 104px;
	position: relative;
}

.room .room__content {
	display: grid;
	grid-template-columns: repeat(auto-fill, 23%);
	justify-content: space-between;
	gap: 23px;
	margin-top: 48px;
}

.room .room__link {
	text-decoration: none;
}

.room .room__link:hover {
	border-radius: 12px;
	box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.12);
}

.room .room__item {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 429px;
	box-shadow: 0px 14px 40px rgba(0, 0, 0, 0.12);
	border-radius: 12px;
}

.room .room__descr {
	padding: 22px 31px 37px 21px;
	font-weight: 400;
	font-size: 20px;
	line-height: 22px;
	color: #555555;
}

.room .room__value {
	display: flex;
	align-items: flex-end;
	padding: 0px 10px 30px 21px;
}

.room .room__price {
	font-weight: 600;
	font-size: 37px;
	line-height: 45px;
	color: #2d9cdb;
}

.room .room__day {
	margin-bottom: 5px;
	margin-left: 5px;
	font-weight: 400;
	font-size: 18px;
	color: #989898;
}

.responsibility {
	margin-top: 90px;
}

.responsibility .responsibility__content {
	display: grid;
	grid-template-columns: 33% repeat(2, 1fr);
	grid-template-rows: repeat(2, 48%);
	gap: 22px;
	margin-top: 48px;
}

.responsibility .responsibility__img {
	height: 100%;
	width: 100%;
	border-radius: 12px;
}

.responsibility .responsibility__item1 {
	grid-area: 1 / 1 / 3 / 2;
}

.responsibility .responsibility__item2 {
	grid-area: 1 / 2 / 2 / 3;
}

.responsibility .responsibility__item3 {
	grid-area: 1 / 3 / 2 / 4;
}

.responsibility .responsibility__item4 {
	grid-area: 2 / 2 / 3 / 4;
}

.atmosphere {
	display: grid;
	grid-template-columns: 45% 55%;
	grid-template-rows: 100%;
	align-items: center;
	margin-top: 92px;
}

.atmosphere .atmosphere__text {
	padding: 0 21px;
}

.atmosphere .atmosphere__header {
	font-weight: 500;
	font-size: 63px;
	color: #434343;
}

.atmosphere .atmosphere__subheader {
	font-weight: 500;
	font-size: 91px;
	color: #2f80ed;
}

.atmosphere .atmosphere__video {
	position: relative;
}

.atmosphere .atmosphere__img {
	width: 100%;
	height: 100%;
}

.atmosphere .atmosphere_btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	cursor: pointer;
}

.relax {
	display: grid;
	position: relative;
	grid-template-columns: 3% 1fr 7% 40%;
	grid-template-rows: 12% 21% 1fr;
	min-height: 385px;
	margin-top: 92px;
	background-color: #ffffff;
	box-shadow: 0px 14px 90px rgba(0, 0, 0, 0.05);
	border-radius: 18px;
}

.relax .title {
	grid-area: 2 / 2 / 3 / 3;
}

.relax .relax__descr {
	grid-area: 3 / 2 / 4 / 3;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: #757575;
}

.relax .relax__img {
	grid-area: 1 / 4 / 4 / 5;
}

.relax .relax__photo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.review {
	margin-top: 143px;
}

.review .review__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 23px;
}

.review .review__item {
	display: grid;
	grid-template-rows: 7% 11% 6% 34% 6% 10% 1fr;
	grid-template-columns: 8% 20% 1fr 9%;
	margin-top: 43px;
	width: 100%;
	min-height: 425px;
	background: #ffffff;
	box-shadow: 0px 14px 60px rgba(0, 0, 0, 0.07);
	border-radius: 22px;
}

.review .review__rate {
	display: grid;
	grid-template-columns: 12px 32px 11px 49px 1fr;
	align-items: center;
	grid-area: 2 / 2 / 3 / 3;
	width: 125px;
	height: 49px;
	background: #e0e0e0;
	border-radius: 60px;
}

.review .review__browser {
	grid-area: 1 / 2 / 2 / 3;
}

.review .review__num {
	grid-area: 1 / 4 / 2 / 5;
	font-weight: 400;
	font-size: 24px;
	letter-spacing: 0.22em;
	color: #757575;
}

.review .review__descr {
	grid-area: 4 / 2 / 5 / 4;
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;
	color: #757575;
}

.review .review__open {
	grid-area: 5 / 2 / 6 / 4;
	font-weight: 400;
	font-size: 21px;
	letter-spacing: 0.02em;
	color: #2f80ed;
	cursor: pointer;
}

.review .review__open:hover {
	color: #012f6c;
}

.review .review__client {
	display: grid;
	grid-template-columns: 18% 6% 1fr;
	grid-template-rows: 36% 1fr;
	grid-area: 7 / 2 / 8 / 4;
}

.review .review__photo {
	grid-area: 1 / 1 / 3 / 2;
}

.review .review__img {
	width: 100%;
}

.review .review__name {
	grid-area: 1 / 3 / 2 / 4;
	font-weight: 400;
	font-size: 27px;
	letter-spacing: 0.02em;
	color: #757575;
}

.review .review__date {
	grid-area: 2 / 3 / 2 / 4;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 0.02em;
	color: #757575;
}

.review .review__btn {
	display: block;
	width: 374px;
	height: 85px;
	margin: 0 auto;
	margin-top: 43px;
	background: #2f80ed;
	border-radius: 10px;
	border: none;
	font-weight: 400;
	font-size: 27px;
	letter-spacing: 0.02em;
	color: #ffffff;
	cursor: pointer;
}

.route {
	position: relative;
	margin-top: 85px;
	padding: 0 40px;
}

.route .title {
	font-size: 41px;
}

.route .route__map {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;
	filter: drop-shadow(0px 14px 60px rgba(0, 0, 0, 0.07));
	border-radius: 20px;
}

.route .route__how {
	position: absolute;
	right: 40px;
	bottom: 0;
	width: 41%;
	height: 64%;
	padding: 44px 55px 42px 50px;
	background: #ffffff;
	box-shadow: -15px -16px 60px rgba(0, 0, 0, 0.08);
	border-radius: 50px 0 0 0;
}

.route .route__descr {
	margin-top: 16px;
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;
	color: #757575;
}

.route .route__btn {
	width: 374px;
	height: 82px;
	margin-top: 39px;
	background: #2f80ed;
	border: none;
	border-radius: 10px;
	font-weight: 400;
	font-size: 25px;
	letter-spacing: 0.02em;
	color: #ffffff;
	cursor: pointer;
}

.contact {
	height: 495px;
	margin-top: 85px;
	padding: 289px 309px 38px 32px;
	background: url(../img/contact_bg.jpg) center center/cover no-repeat;
	border-radius: 10px;
	filter: drop-shadow(0px 14px 60px rgba(0, 0, 0, 0.07));
}

.contact .contact__social {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
	margin-top: 31px;
}

.contact .contact__link {
	text-decoration: none;
}

.contact .contact__link:hover {
	border-radius: 130px;
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

.contact .contact__item {
	display: grid;
	grid-template-columns: 82px 8% 1fr;
	align-items: center;
	width: 327px;
	height: 82px;
	background: rgba(238, 238, 238, 0.32);
	backdrop-filter: blur(7px);
	border-radius: 130px;
}

.contact .contact__logo {
	grid-area: 1 / 1 / 2 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.contact .contact__logo_phone {
	background-color: #2f80ed;
}

.contact .contact__logo_whatsapp {
	background: linear-gradient(161.77deg, #58d063 12.39%, #28b43e 95.77%);
}

.contact .contact__logo_telegram {
	background-color: #2f80ed;
}

.contact .contact__descr {
	grid-area: 1 / 3 / 2 /4;
	font-weight: 400;
	font-size: 26px;
	color: #ffffff;
}

.footer {
	display: grid;
	grid-template-columns: 1fr 30%;
	grid-template-rows: 62% 23% 1fr;
	min-height: 239px;
	margin-top: 73px;
	padding: 46px 33px 56px 33px;
	background-color: #ffffff;
	box-shadow: 0px 14px 60px rgba(0, 0, 0, 0.07);
	border-radius: 22px 22px 0 0;
}

.footer::after {
	content: "";
	grid-area: 2 / 1 / 2 / 3;
	width: 100%;
	height: 1px;
	background-color: #cacaca;
}

.hotel__name {
	grid-area: 1 / 1 / 2 / 2;
	margin: 0;
	font-family: "Fuzzy Bubbles";
	font-weight: 400;
	font-size: 50px;
	color: #2f80ed;
}

.hotel__name_green {
	color: #43c453;
}

.footer .footer__call {
	grid-area: 1 / 2 / 2 / 3;
	margin-top: 5px;
	font-weight: 600;
	font-size: 33px;
	color: #2f80ed;
	text-decoration: none;
	text-align: right;
}

.footer .footer__nav {
	grid-area: 3 / 1 / 4 / 2;
}

.footer .footer__nav_policy {
	grid-area: 3 / 2 / 4 / 3;
}

.footer .menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 589px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer .footer__nav_policy .menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer .footer__link {
	font-weight: 400;
	font-size: 16px;
	color: #808080;
	text-decoration: none;
	text-align: right;
}

@media screen and (max-width: 1380px) {
	.container {
		width: 90%;
	}

	.booking {
		padding: 514px 392px 52px 49px;
	}

	.about .about__text {
		padding: 23px 47px 20px 40px;
	}

	.about .about__descr {
		margin-top: 10px;
		font-size: 18px;
	}

	.room .room__content {
		grid-template-columns: repeat(auto-fill, 23%);
		gap: 20px;
	}

	.room .room__descr {
		font-size: 19px;
	}

	.room .room__price {
		font-size: 32px;
	}

	.atmosphere .atmosphere__header {
		font-size: 55px;
	}

	.atmosphere .atmosphere__subheader {
		font-size: 75px;
	}

	.atmosphere .atmosphere_btn {
		width: 130px;
	}

	.relax {
		grid-template-columns: 3% 1fr 5% 40%;
		grid-template-rows: 7% 21% 1fr;
		margin-top: 92px;
	}

	.relax .relax__descr {
		font-size: 17px;
	}

	.review {
		margin-top: 90px;
	}

	.review .review__item {
		grid-template-rows: 7% 11% 6% 1fr 6% 9% 20%;
	}

	.review .review__client {
		grid-template-rows: 39% 1fr;
	}

	.review .review__descr {
		font-size: 18px;
	}

	.review .review__name {
		font-size: 24px;
	}

	.footer .footer__call {
		font-size: 31px;
	}
}

@media screen and (max-width: 1200px) {
	.header .header__nav {
		display: grid;
		grid-template-columns: 1fr 23%;
	}

	.header .menu {
		gap: 40px;
	}

	.menu .menu__link {
		font-size: 15px;
	}

	.booking {
		height: 475px;
		padding: 269px 210px 52px 49px;
	}

	.title_white {
		font-size: 45px;
	}

	.booking .booking__subheader {
		margin-top: 2px;
	}

	.booking .booking__btn {
		width: 375px;
	}

	.about .title {
		font-size: 40px;
	}

	.about .about__text {
		padding: 20px 40px 20px 35px;
	}

	.about .about__span {
		display: none;
	}

	.about .about__descr {
		margin-top: 5px;
	}

	.room {
		margin-top: 60px;
	}

	.room .room__content {
		margin-top: 30px;
	}

	.room .room__item {
		height: 334px;
	}

	.room .room__descr {
		padding: 13px;
		font-size: 15px;
		line-height: 18px;
	}

	.room .room__value {
		flex-direction: column;
		align-items: flex-start;
		padding: 0px 10px 22px 13px;
	}

	.responsibility {
		margin-top: 60px;
	}

	.responsibility .title {
		font-size: 49px;
	}

	.responsibility .responsibility__content {
		margin-top: 25px;
	}

	.atmosphere {
		margin-top: 70px;
	}

	.atmosphere .atmosphere__header {
		font-size: 45px;
	}

	.atmosphere .atmosphere__subheader {
		font-size: 60px;
	}

	.atmosphere .atmosphere_btn {
		width: 100px;
	}

	.relax {
		grid-template-columns: 3% 1fr 5% 40%;
		grid-template-rows: 8% 18% 1fr;
		margin-top: 70px;
	}

	.relax .title {
		font-size: 45px;
	}

	.relax .relax__descr {
		font-size: 17px;
		line-height: 25px;
	}

	.review {
		margin-top: 70px;
	}

	.review .review__item {
		margin-top: 30px;
		grid-template-rows: 7% 10% 6% 40% 6% 5% 1fr;
		grid-template-columns: 6% 20% 1fr 6%;
		min-height: 380px;
	}

	.review .review__descr {
		font-size: 16px;
		line-height: 23px;
	}

	.review .review__img {
		display: none;
	}

	.review .review__name {
		grid-area: 1 / 1 / 2 / 4;
		font-size: 24px;
	}

	.review .review__date {
		grid-area: 2 / 1 / 2 / 4;
	}

	.review .review__client {
		grid-template-rows: 30% 1fr;
	}

	.route {
		margin-top: 70px;
	}

	.route .route__how {
		width: 55%;
		height: 60%;
		padding: 20px 30px 20px 40px;
	}

	.route .title {
		font-size: 33px;
	}

	.route .route__map {
		height: 450px;
	}

	.route .route__descr {
		margin-top: 5px;
		font-size: 15px;
		line-height: 20px;
	}

	.route .route__btn {
		width: 306px;
		height: 60px;
		margin-top: 18px;
		font-size: 22px;
	}

	.contact {
		height: 400px;
		margin-top: 70px;
		padding: 207px 75px 38px 32px;
	}

	.contact .contact__social {
		margin-top: 9px;
	}

	.contact .contact__item {
		grid-template-columns: 82px 5% 1fr;
		width: 100%;
	}

	.contact .contact__descr {
		font-size: 20px;
	}

	.footer {
		align-items: center;
	}

	.footer .menu {
		width: 515px;
	}

	.footer .footer__link {
		font-size: 15px;
	}

	.footer .footer__call {
		font-size: 24px;
	}
}

@media screen and (max-width: 960px) {
	.header {
		padding: 20px 23px 15px 20px;
	}

	.header .menu {
		gap: 25px;
	}

	.menu .menu__link {
		font-size: 14px;
	}

	.header .header__call {
		font-size: 14px;
	}

	.booking {
		padding: 265px 101px 52px 49px;
	}

	.title_white {
		font-size: 41px;
	}

	.about .title {
		font-size: 30px;
		line-height: 35px;
	}

	.about .about__text {
		padding: 17px 25px;
	}

	.about .about__descr {
		font-size: 16px;
		line-height: 23px;
	}

	.room {
		margin-top: 60px;
	}

	.room .room__content {
		grid-template-columns: repeat(auto-fill, 40%);
		gap: 30px;
		justify-content: space-around;
	}

	.room .room__item {
		height: 390px;
	}

	.room .room__descr {
		padding: 20px;
		font-size: 17px;
		line-height: 23px;
	}

	.room .room__value {
		flex-direction: row;
		align-items: flex-end;
		padding: 0px 10px 22px 20px;
	}

	.atmosphere .atmosphere__text {
		padding: 0 15px;
	}

	.atmosphere .atmosphere__header {
		font-size: 35px;
	}

	.atmosphere .atmosphere__subheader {
		font-size: 45px;
	}

	.relax {
		min-height: 350px;
	}

	.relax .title {
		font-size: 45px;
	}

	.relax .relax__descr {
		grid-area: 3 / 2 / 4 / 5;
	}

	.relax .relax__img {
		display: none;
	}

	.review .review__items {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: 1fr;
		gap: 25px;
		margin-top: 30px;
	}

	.review .review__item {
		grid-template-rows: 7% 20% 6% 21% 8% 10% 1fr;
		grid-template-columns: 6% 17% 3% 1fr 15%;
		min-height: 220px;
		margin-top: 0;
	}

	.review .review__rate {
		grid-area: 2 / 2 / 3 / 3;
		width: 100%;
		height: 100%;
	}

	.review .review__descr {
		grid-area: 2 / 4 / 5 / 5;
		font-size: 16px;
		line-height: 23px;
	}

	.review .review__open {
		grid-area: 5 / 4 / 6 / 5;
		font-size: 18px;
	}

	.review .review__client {
		grid-area: 7 / 4 / 8 / 5;
		grid-template-rows: 42% 1fr;
	}

	.review .review__name {
		font-size: 19px;
	}

	.review .review__date {
		font-size: 14px;
	}

	.contact {
		height: 300px;
		margin-top: 70px;
		padding: 145px 54px 38px 32px;
	}

	.contact .contact__item {
		grid-template-columns: 50px 5% 1fr;
		height: 50px;
	}

	.contact .contact__logo {
		width: 50px;
	}

	.contact .contact__logo img {
		width: 45%;
	}

	.contact .contact__descr {
		font-size: 17px;
	}

	.hotel__name {
		font-size: 40px;
	}

	.footer {
		grid-template-columns: 1fr 40%;
		grid-template-rows: 62% 23% 1fr;
		padding: 22px 33px 33px 33px;
		min-height: 200px;
		margin-top: 73px;
	}

	.footer .menu {
		width: 370px;
	}

	.footer .footer__link {
		font-size: 13px;
	}
}

@media screen and (max-width: 760px) {
	.hamburger {
		display: block;
		position: absolute;
		margin: 0 auto;
		right: 5%;
		top: 20px;
	}

	.hamburger span {
		display: block;
		width: 33px;
		height: 4px;
		position: relative;
		background: #434343;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		margin-bottom: 2px;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
	}

	.hamburger span:first-child {
		transform-origin: 0% 0%;
	}

	.hamburger span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}

	.hamburger input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
	}

	.hamburger input:checked ~ span:nth-child(2) {
		opacity: 1;
		transform: rotate(45deg) translate(-3px, -4px);
	}

	.hamburger input:checked ~ span:nth-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	.hamburger input:checked ~ span:last-child {
		opacity: 1;
		transform: rotate(-45deg) translate(-2px, -1px);
	}

	.header .menu {
		display: none;
	}

	.header .header__call {
		display: none;
	}

	.booking {
		height: 350px;
		padding: 180px 42px 52px 30px;
	}

	.booking .title {
		line-height: 32px;
	}

	.title {
		font-size: 44px;
	}

	.title_white {
		font-size: 26px;
	}

	.booking .booking__btn {
		width: 270px;
		height: 70px;
		bottom: -35px;
		font-size: 25px;
	}

	.about {
		margin-top: 76px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 0;
	}

	.about .about__img {
		display: none;
	}

	.about .title {
		font-size: 30px;
		line-height: 35px;
	}

	.about .about__descr {
		margin-top: 15px;
	}

	.room {
		margin-top: 45px;
	}

	.room .room__item {
		display: flex;
		flex-direction: row;
		height: 180px;
	}

	.room .room__content {
		display: flex;
		flex-direction: column;
	}

	.room .room__img {
		width: 40%;
		object-fit: cover;
		border-radius: 12px 0 0 12px;
	}

	.room .room__descr {
		font-size: 16px;
	}

	.room .room__link {
		margin: 0 auto;
		width: 95%;
	}

	.responsibility .title {
		font-size: 44px;
	}

	.atmosphere {
		position: relative;
		grid-template-columns: 1fr;
		grid-template-rows: 30% 70%;
		justify-items: center;
	}

	.atmosphere .atmosphere__text {
		grid-area: 1 / 1 / 2 / 2;
	}

	.atmosphere .atmosphere__video {
		grid-area: 2 / 1 / 3 / 2;
		height: 100%;
	}

	.relax {
		min-height: 350px;
		grid-template-columns: 3% 1fr 5% 40% 3%;
	}

	.relax .title {
		grid-area: 2 / 2 / 3 / 5;
		font-size: 40px;
	}

	.relax .relax__descr {
		font-size: 15px;
		line-height: 22px;
	}

	.review .review__item {
		grid-template-rows: 7% 20% 16% 1fr 8% 7% 25%;
		grid-template-columns: 3% 17% 3% 1fr 3%;
		min-height: 220px;
		margin-top: 0;
	}

	.review .review__browser {
		width: 100%;
	}

	.review .review__rate {
		grid-template-columns: 7% 30% 7% 1fr 7%;
	}

	.review .review__num {
		font-size: 20px;
		letter-spacing: 0.1em;
	}

	.review .review__client {
		grid-template-rows: 50% 1fr;
	}

	.route {
		padding: 0;
	}

	.route .route__map {
		height: 230px;
	}

	.route .route__how {
		right: 0;
		width: 240px;
		padding: 16px 3px 16px 32px;
	}

	.route .title {
		font-size: 23px;
		line-height: 35px;
	}

	.route .route__descr {
		display: none;
	}

	.route .route__btn {
		width: 181px;
		height: 54px;
		margin-top: 7px;
		font-size: 16px;
	}

	.contact {
		padding: 43px 54px 38px 32px;
	}

	.contact .contact__social {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: 1fr;
		gap: 20px;
		margin-top: 15px;
	}

	.contact .title_white {
		line-height: 30px;
	}

	.contact .contact__link {
		width: 243px;
	}

	.hotel__name {
		font-size: 25px;
	}

	.footer {
		grid-template-rows: 32% 33% 1fr;
		padding: 22px 33px 33px 33px;
		margin-top: 60px;
		min-height: 170px;
	}

	.footer .menu {
		width: 100%;
	}

	.footer .footer__call {
		font-size: 15px;
	}

	.footer .footer__nav {
		grid-area: 3 / 1 / 4 / 3;
	}

	.footer .footer__nav_policy {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.booking {
		padding: 122px 42px 52px 30px;
	}

	.booking .booking__subheader {
		font-size: 15px;
	}

	.booking .booking__btn {
		width: 200px;
		height: 60px;
		bottom: -30px;
		font-size: 20px;
		right: 15%;
	}

	.about .about__descr {
		font-size: 14px;
		line-height: 20px;
	}

	.room .title {
		font-size: 30px;
	}

	.room .room__img {
		display: none;
	}

	.responsibility {
		display: none;
	}

	.atmosphere {
		margin-top: 50px;
		grid-template-rows: 40% 60%;
	}

	.relax {
		grid-template-rows: 5% 15% 1fr;
		grid-template-columns: 5% 1fr 0% 40% 5%;
		margin-top: 50px;
	}

	.relax .title {
		font-size: 30px;
	}

	.relax .relax__descr {
		font-size: 13px;
		line-height: 20px;
	}

	.review {
		margin-top: 30px;
	}

	.review .title {
		font-size: 30px;
	}

	.review .review__items {
		margin-top: 10px;
	}

	.review .review__item {
		grid-template-rows: 7% 20% 16% 1fr 8% 7% 18%;
	}

	.review .review__rate {
		justify-items: center;
	}

	.review .review__browser {
		display: none;
	}

	.review .review__num {
		grid-area: 1 / 2 / 2 / 5;
	}

	.review .review__descr {
		font-size: 15px;
	}

	.review .review__open {
		grid-area: 7 / 4 / 8 / 5;
	}

	.review .review__client {
		display: none;
	}

	.review .review__btn {
		width: 250px;
		height: 70px;
		margin-top: 20px;
		font-size: 22px;
	}

	.contact .title_white {
		font-size: 23px;
	}

	.footer {
		grid-template-rows: 20% 20% 10% 1fr;
		grid-template-columns: 100%;
		justify-items: center;
		padding: 22px 33px;
		margin-top: 27px;
		min-height: 230px;
	}

	.hotel__name {
		grid-area: 1 / 1 / 2 / 2;
	}

	.footer .footer__call {
		grid-area: 2 / 1 / 3 / 2;
	}

	.footer::after {
		grid-area: 3 / 1 / 4 / 2;
	}

	.footer .footer__nav {
		grid-area: 4 / 1 / 5 / 2;
	}
	.footer .menu {
		flex-direction: column;
	}
}
